body{
	margin:0 auto; 
	text-align:center;
	}
	
.textarea{
	width:500px;
	height:40px;
	border:2px solid;
	margin:10px auto; 
}

#tooloptions{
	width:160px;
    height:30px;
}
/*
#speak_btn{
	width:100px;
    height:30px;
}
*/


